# OSやエディタ系
.DS_Store
Thumbs.db
.vscode/

# 環境設定ファイル系
.env
.env.*
.auth.json
Homestead.json
Homestead.yaml

# PHP / Laravel 関連
.phpactor.json
.phpunit.result.cache
.phpunit.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.zed

/storage/*.key
/storage/pail

/vendor/
node_modules/

# ビルド成果物・ログ
/public/build/
public/hot/
public/storage/

*.log
npm-debug.log
yarn-error.log
